.user {
  margin-bottom: 30px;
  padding: 0 15px;
  text-align: center;  
}

.user p {
  margin: 0;
}

.user__inner {
  padding: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  border-radius: 5px;
  transition: box-shadow .3s ease;
}

.user__inner:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

@media (min-width: 576px) {

  .user {
    width: 50%;
  }

}

@media (min-width: 768px) {

  .user {
    width: 33.3333%;
  }

}

@media (min-width: 992px) {

  .user {
    width: 25%;
  }

}