.users {
  padding: 20px 0;
  /* margin-bottom: -30px; */
}

.users__list {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;
}

@media (min-width: 576px) {

  .users__list {
    display: flex;
    flex-wrap: wrap;
  }

}