.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
  animation-name: zoomIn;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  padding: 20px;
  text-align: center;
  background-color: #fefefe;
  border: 1px solid #888;
  animation-name: zoomIn;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: -5px;
  right: 5px;
  color: rgb(141, 140, 140);
  font-size: 28px;
  font-weight: bold;
  transition: color .2s ease;
}

.close:hover,
.close:focus {
  color: rgb(54, 54, 54);
  text-decoration: none;
  cursor: pointer;
}


@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  50% {
    opacity: 1
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  50% {
    opacity: 1
  }
}